@using AnyMusic.Domain.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@inject SignInManager<AnyMusicUser> SignInManager
@inject UserManager<AnyMusicUser> UserManager
@inject IOptions<StripeSettings> Stripe

@{
    AnyMusicUser currentUser = null;
    if (SignInManager.IsSignedIn(User))
    {
        currentUser = await UserManager.GetUserAsync(User);
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @if (currentUser?.IsSubscribed == true)
            {
                <button disabled class="btn btn-outline-success">
                    <span>Premium</span>
                </button>
            }
            else
            {
                <form asp-controller="User" asp-action="PayOrder" method="post" class="d-inline">
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-locale="auto"
                            data-description="AnyMusic Subscription Payment"
                            data-amount="@((long)599.99)"
                            data-label="Subscribe">
                    </script>
                </form>
            }
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello, @User.Identity?.Name!
            </a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
