@model AnyMusic.Domain.Domain.ViewModels.TrackViewModel

<h1>Create</h1>

<h4>Track</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Track.TrackName" class="control-label"></label>
                <input asp-for="Track.TrackName" class="form-control" />
                <span asp-validation-for="Track.TrackName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track.AlbumId" class="control-label"></label>
                <select asp-for="Track.AlbumId" class="form-control" asp-items="ViewBag.AlbumId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Track.Duration" class="control-label"></label>
                <input asp-for="Track.Duration" class="form-control" />
                <span asp-validation-for="Track.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track.Rating" class="control-label"></label>
                <input asp-for="Track.Rating" class="form-control" />
                <span asp-validation-for="Track.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SelectedArtistIds" class="control-label">Artists</label>
                <select asp-for="SelectedArtistIds" class="form-control" asp-items="Model.Artists" multiple="multiple"></select>
                <span asp-validation-for="SelectedArtistIds" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
