@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <p>AnyMusic is a modern web application designed to manage a music store, allowing users to explore albums, tracks, and artists while creating custom playlists. 
        This project is built using ASP.NET Core 8.0 and follows the Onion architecture, ensuring a clean separation of concerns and a scalable, maintainable codebase.
        This is a university project made from:
       
    </p>
    <ol>
        <li> Endrit Ambari (211541)</li>
        <li> Eroll Sakipi (211590)</li>
        <li> Drin Kadriu  (211505)</li>
    </ol>
</div>
